name: CI

on:
  push:
    branches:
      - master
      - main
  pull_request:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Oracle GraalVM for JDK 25
        uses: graalvm/setup-graalvm@v1
        with:
          distribution: "graalvm"
          java-version: "25"
          github-token: ${{ secrets.GITHUB_TOKEN }}
          cache: gradle
          components: "native-image"

      - name: Run build and tests
        run: ./gradlew --no-daemon test nativeTest build
